@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.one{
  border-radius: 20px;
}

.two{
  border-radius: 15px;
  width: 100%;
  /* gap: 10px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.one:hover{
 border:  2px solid #042858;
 /* background-color: black; */
}
/* StepFour.css */

.clock-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clock-label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.clock {
  font-size: 24px;
  background-color: #f8f9fe;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:768px) {
  .three{
    flex-direction: column;
    width: 85%;
    height: 120vh;
    /* background-color: blue; */
  }
  .twelve{
    /* background-color: red; */
  }
  .text{
    font-size: 30px;
  }
  .five{
    flex-direction: row;
  }
  .six{
    display: none;
  }
  .seven{
    width: 100%;
    justify-content: center;
    display: flex;
    /* min-height: 50vh; */
    /* background-repeat: repeat; */
  }
  .fiftys{
    width: 100%;
    flex-direction: column;
  }
  .fiftys img{
    margin-top: 30px;
  }
  .fiftyss{
    /* height: 10vh; */
    font-size: 22px;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .eight{
    align-items: center;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* button {
  background-color: red;
} */